.header-row {
  max-width: 430px;
  margin: 0 auto;
  position: relative;
}

.btn-tutorial {
  position: absolute;
  vertical-align: middle;
  color: var(--color-primary-light);
  margin-left: 0.5rem;
  top: 0;
  right: 0.5rem;
}

@media (min-width: 375px) {
  .btn-tutorial {
    right: 7%;
  }
}

@media (min-width: 768px) {
  .btn-tutorial {
    right: 0.5rem;
    top: 0.4rem;
  }
}