.percentages-list {
  border-right: 1px solid var(--color-primary-dark);
  width: 50%;
}

.percentages-list button {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.5rem;
}

.highlighted {
  color: var(--color-primary-hover);
}

.arrow {
  padding-left: 0.15rem;
  vertical-align: middle;
}

@media (min-width: 340px) {
  .percentages-list button {
    font-size: 1.1rem;
    padding-left: 0.5rem;
  }
}

@media (min-width: 768px) {
  .percentages-list button {
    font-size: 1.2rem;
    padding-left: 1.5rem;
  }

  .arrow {
    padding-left: 0.4rem;
  }
}
