.plates-checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0.4rem;
  margin: 0.2rem auto;
}

.plates-checkboxes label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.plates-checkboxes input[type='checkbox'] {
  width: auto;
  margin: 0 0 0 1rem;
  cursor: pointer;
}

.btn-reset {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}