:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary-dark: #071b44;
  --color-primary-light: #b7d5e6d3;
  --color-primary-hover: #83d8ff;

  color-scheme: light dark;
  color: var(--color-primary-light);
  background-color: var(--color-primary-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: var(--color-primary-hover);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('/pexels-messina-photo-61078602-8170745.jpg');
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 1.8em;
  line-height: 1.1;
  margin: 1rem 0 0.5rem;
}

.header-row {
  max-width: 430px;
  margin: 0 auto;
  position: relative;
}

.special-font {
  font-family: 'Alfa Slab One', serif;
  font-weight: 400;
  font-style: normal;
}

.percentages-list button {
  background-color: transparent;
  color: var(--color-primary-dark);
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.4em 0;
}

.question-icon {
  vertical-align: middle;
  background-color: transparent;
  border: none;
  color: var(--color-primary-light);
  margin-left: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0.5rem;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.arrow {
  padding-left: 0.4em;
  vertical-align: middle;
}

.percentages-list button:hover,
.percentages-detail li:hover,
.saved-percentages li:hover {
  color: var(--color-primary-hover);
}
.percentages-list button:focus,
.percentages-list button:focus-visible {
  outline: 0cap;
}

.saved-percentages {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold;
  text-shadow: -1px -1px 0 #070f20, 1px -1px 0 #070f20, -1px 1px 0 #070f20,
    1px 1px 0 #070f20;
}

.text-smaller {
  font-size: 1rem;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

label {
  font-size: 1.2rem;
  font-weight: 500;
  display: block;
}

input,
select {
  font-size: 1em;
  font-family: inherit;
  font-weight: bold;
  padding: 0.4em 0.8em;
  border: 1px solid #888;
  border-radius: 8px;
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  text-align: center;
  margin: 0 0.5em;
  width: 3em;
}

select {
  width: auto;
}
option {
  padding: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto;
  margin-top: 0;
  width: 100%;
  max-width: 400px;
}

.percentage-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
  gap: 1em;
  padding: 0.2em 0.5em;
  background-color: var(--color-primary-light);
  color: var(--color-primary-dark);
  border-radius: 1rem;
  margin: 0 auto;
  width: 90%;
  max-width: 400px;
}

.percentage-container ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.percentages-list {
  border-right: 1px solid var(--color-primary-dark);
  width: 50%;
}

.percentages-detail {
  width: 40%;
}

#driver-popover-content {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-light);
}

#driver-popover-content .driver-popover-progress-text {
  color: var(--color-primary-light);
}

#driver-popover-content .driver-popover-close-btn:hover,
#driver-popover-content .driver-popover-close-btn:focus {
  color: var(--color-primary-hover);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (min-width: 375px) {
    .percentage-container {
    gap: 1em;
    padding: 0.6em 1em;
    width: 80%;
  }
  .input-container {
    width: 80%;
  }
  .question-icon {
    right: 7%;
  }
}

@media (min-width: 768px) {
  .percentages-list button {
    font-size: 1.2rem;
  }
  .percentages-list button {
    padding: 0.4em 0 0.4em 1em;
  }
  h1 {
    font-size: 2.5em;
  }
  .question-icon {
    right: 0.5rem;
  }
}
